{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if tasks %}
            <table id="table" class="table table-stripped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Наименование задачи</th>
                    <th scope="col">Дата создания</th>
                    <th scope="col">Срок выполнения</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <td scope="row"></td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.createdat|date }}</td>
                    <td>{{ task.duedate|date }}</td>
                    <td>{{ task.status.title }}</td>
                    <td>
                        <a href="{{ path("task_view", {id: task.id}) }}" class="btn btn-sm btn-success">Просмотр</a>
                    </td>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                Нет задач
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        } );
    </script>
{% endblock %}